


.container-fb {
    display: grid; 
    grid-template-columns: 70% 30%; 
    grid-template-rows: 50% 50%; 
    gap: 0px 0px; 
    grid-template-areas: 
      "first Second"
      "Third Fourth";
    width: 100%; 
    height: 100%;
  }

  body {
    position: relative;
    background-color: #1232ff !important;
    z-index: -2;
  }
  .container-fb2 {
    display: grid; 
    grid-template-columns: 70% 30%; 
    grid-template-rows: 100% 100%; 
    gap: 0px 0px; 
    grid-template-areas: 
     
      "Third Fourth";
    width: 100%; 
    height: 50%;
  }
  .first { grid-area: first; background-color: #0b0b0b;}
  .Second { grid-area: Second; background-color: #0022FF; }
  .Third { grid-area: Third; background-color: #FFFFFF; }
  .Fourth { grid-area: Fourth; background-color: #FF00A6; }

.z-index-0 {
    z-index: 0;
}
.navbar-c {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.logo {
    display: block;
}

.f-syne {
    font-family: 'Syne', sans-serif;
}

.f-krona {
    font-family: 'Krona One', sans-serif;
}

.f-viaoda {
    font-family: 'Viaoda Libre', cursive;
}

.f-syne-black {
    font-family: 'Syne', sans-serif;
    font-weight: 900 !important;
}

.color-white {
    color: #FFFFFF;
    text-decoration: none;;
}

.hover-text-animate-p {
    transition: 200ms ease-in-out;
    text-shadow: 0 0 0.15em #efefef;
    color: #ffffff;
}

.hover-text-animate-p:hover {
    color: #FF00A6;
    text-shadow: 0 0 0.15em #FF00A6;
    font-size: 1.2em;
    transform: translateY(-50px);
}

.hover-text-animate-b {
    transition: 200ms ease-in-out;
    text-shadow: 0 0 0.15em #efefef;
    color: #ffffff;
}

.hover-text-animate-b:hover {
    color: #0022FF;
    text-shadow: 0 0 0.15em #1232ff;
    font-size: 1.2em;
    transform: translateY(-50px);
}

.logo {
    margin-top: 0.5em; 
    margin-left: 0.7em; 
    font-size: 2.2em;
    cursor: pointer;
}

.nav-item {
    margin-top: 1.5em; 
    margin-left: 4em; 
    font-size: 1.2em;
    text-shadow: 0 0 0.25em #efefef;
    background: linear-gradient(to right, #FF00A6,#0040ff,#FF00A6);
    background-size: 200% 200%;
    animation: rainbow 20s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 200ms ease-in-out;
}

.color-br {
    background: linear-gradient(to right, #FF00A6,#0040ff,#FF00A6);
    background-size: 200% 240%;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0b0b0b00;
    
}

.text-os {
    font-size: 4vw
}

.text-os2 {
    font-size: 3vw
}

.nav-item-last {
    margin-top: 1.5em; 
    margin-left: 4em; 
    margin-right: 3em; 
    font-size: 1.2em;
    text-shadow: 0 0 0.25em #efefef;
    background: linear-gradient(to right, #FF00A6,#0040ff,#FF00A6);
    background-size: 200% 200%;
    animation: rainbow 20s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 200ms ease-in-out;
}

.nav-item:hover {
    color:rgba(0,0,0,0);
    text-shadow: 0 0 0.15em #00000000;
    cursor: pointer;
}

.nav-item-last:hover {
    color:rgba(0,0,0,0);
    text-shadow: 0 0 0.15em #00000000;
    cursor: pointer;
}
@keyframes rainbow { 
  0%{background-position:0%}
  100%{background-position:2000%}
}

.square {
    width: 100%;
    height: 100%;
    position: absolute;;
    z-index: 30;
    margin-left: 14%;
    margin-top: 25vh;
    width: 28vw;
    height: 53vh;
    background: rgb(255,16,195);
    background: linear-gradient(312deg, rgba(255,16,195,1) 0%, rgba(0,64,255,1) 100%);
    border-radius: 20px 20px 20px 20px;

}


.square:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #e81cff 0%, #0040ff 93% );
    transform: translate3d(0px, 0px, 0) scale(1.05);
    filter: blur(10px);
    opacity: var(0.1);
    transition: opacity 0.3s;
    border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.square::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
        


.inner-square {
    position: relative;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 26vw;
    height: 49vh;
    background: #0b0b0b;
    border-radius: 20px 20px 20px 20px;
    
}

.inner {
    position: absolute;
    margin-top: 2vh;
    margin-left: 1vw;
    
}

.form-col1 {
  display: flex;
  align-items:flex-end;
  justify-content:end
}

.form-col2 {
    display: flex;
    align-items:flex-end;
}

.form-col4 {
    display: flex;
  }
  
  .form-col3 {
      display: flex;
      justify-content:end
  }

.section-presentation {
    width: 100%;
    height: fit-content !important;
    background-color: #FF00A6;
    padding-bottom: 12%;

}



.title-presentation  {
    font-size: 5em; color: #F5F5F5; margin-bottom: 0.5em; text-shadow: 0 0 0.15em #efefef;  ;
}
.button {
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 30em;
    height: 3em;
    background: linear-gradient(45deg, #2B2B2B,#000000);
    background-size: 100% 100%;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    color: #ffffff !important;
    font-size: 1.2em;
    transition: 200ms ease-in-out;
}

.button-2 {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 18em;
    height: 3em;
    background: linear-gradient(45deg, #2B2B2B,#000000);
    background-size: 100% 100%;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    color: #ffffff !important;
    font-size: 1em !important;
    transition: 200ms ease-in-out;
}


.text-presentation p {
    font-weight: 400;
    font-size: 1.6em !important;
    color: #efefef;
}

.fw-700 {
    text-shadow: 0 0 0.05em #efefef;
    font-weight: 700;
}


.section-projets {
    width: 100%;
    height: fit-content !important;
    padding-bottom: 12%;

}

.custom-row {
    transform: translateX(5%);
}
.square-p {
  position: relative;
    width: 30em;
    height: 27em;
    background-color: rgb(255,16,195);
    background: linear-gradient(100deg, #1c1c1c,#000000);
    border-radius: 20px;
    margin: 25vh 1rem 0;
    margin: 30px;
    margin-right: 40px;

}
.square-p::after {
    position:absolute;
    content: "";
  top: 0;
    transform: rotate(10deg) translate(-49%, 6%);
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: rgb(255,16,195);
    background: linear-gradient(120deg, #353535,#000000);
    border-radius: 20px;

}



@media (max-width : 992px)  {
    .text-presentation {
        font-size: 1em !important;
    }
}


@media (max-width : 1280px)  {
    .nav-item {
        display: none;
    }

    .nav-item-last {
        display: none;
    }
    
}


@media (max-width : 537px)  {
    .nav-item {
        display: none;
    }

    .nav-item-last {
        display: none;
    }

    .w-100 {
        width: 0px;
    }

    .title-presentation {
        font-size: 3em;
    }

    .text-presentation {
        font-size: 0.7em !important;
    }
    
    .button {
        width: fit-content;
        font-size: 0.7em !important;
    }
}


@media (max-width : 438px)  {
    .custom-row {
        transform: translate(4%);
    }
}